* {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 300px;
    height: 300px;
}

.radio {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 150;
    
}

.button {
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    height: 40px;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.content{
    display: none;  
}

