* {
    box-sizing: border-box;
}



    .menu {
        display: flex;

        &__radio {
            display: none;
        }

        &__buttons{
            width: 100px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;

            &-item {
                display: block;
                padding: 20px 0 20px 0;
                color: chocolate;
            }

        }

        &__content{
            width: 200px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;

            &-element{
                height: 232px;
                display: none;
                
            }
        
        }

    }



#red:checked ~ .menu__content > .red {
    display: flex;
    background-color: red;
}

#green:checked ~ .menu__content > .green {
    display: flex;
    background-color: green;
}

#blue:checked ~ .menu__content > .blue {
    display: flex;
    background-color: blue;
    color: white;
}

#black:checked ~ .menu__content > .black {
    display: flex;
    background-color: black;
    color: white;
}